select P.ID_PERSONA as "CODIGO", P.RUC, RR.NOMBRE, P.PERSONA_FINGER as "Huella", (select "Nombre" From OPE_DETALLE_TABLA where "Codigo" ='TIPO_IDEN' and "Numero" = P.TIPO_DOCUMENTO) as "Documento" from OPE_PERSONA P
INNER JOIN RRHH_PLANILLA RR ON RR.ID_PERSONA = P.ID_PERSONA